@using PortfolioTrackerClient.Shared;
@using Microsoft.AspNetCore.Components.Authorization;

@inject IStringLocalizer<Resource> Localizer

<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>@Localizer["LoginRequired"]</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>@Localizer["NotFound"]</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">@Localizer["PageNotFound"]</p>
            </LayoutView>
        </NotFound>
    </Router>   
</CascadingBlazoredModal>

