@using PortfolioTrackerClient.Services.PortfolioService;
@using PortfolioTrackerShared.Models;
@using PortfolioTrackerShared.Other;

@inject IPortfolioService PortfolioService
@inject IStringLocalizer<Resource> Localizer

<div>
    <EditForm Model="@StockToAdd" OnValidSubmit='async() => await AddStock(StockToAdd, PortfolioOwner.UserId)'>
        <DataAnnotationsValidator />

        <label for="stockTicker">@Localizer["StockTicker"]:</label>
        <InputText id="stockTicker" @bind-Value="StockToAdd.Ticker" />
        <ValidationMessage For="() => StockToAdd.Ticker" />
        <br /><br />

        <label for="sharesOwned">@Localizer["SharesOwned"]: </label>
        <InputNumber id="sharesOwned" @bind-Value="StockToAdd.SharesOwned" min="0" />
        <ValidationMessage For="() => StockToAdd.SharesOwned" />
        <br /><br />

        <label for="positionSize">@Localizer["PositionSize"]: </label>
        <InputNumber id="positionSize" @bind-Value="StockToAdd.PositionSize" min="0" />
        <ValidationMessage For="() => StockToAdd.PositionSize" />
        <br /><br />

        <label for="buyinPrice">@Localizer["BuyInPrice"]: </label>
        <InputNumber id="buyinPrice" @bind-Value="StockToAdd.BuyInPrice" min="0" />
        <ValidationMessage For="() => StockToAdd.BuyInPrice" />
        <br /><br />

        <label for="industry">@Localizer["Industry"]: </label>
        <InputSelect id="industry" @bind-Value="StockToAdd.Industry">
            @foreach (Industry industry in Enum.GetValues(typeof(Industry)))
            {
                <option>@GetDisplayValue(industry)</option>
            }
        </InputSelect>
        <br /><br />

        <label for="dividendYield">@Localizer["DividendYield"]: </label>
        <InputNumber id="dividendYield" @bind-Value="StockToAdd.DividendYield" min="0" />
        <ValidationMessage For="() => StockToAdd.DividendYield" />
        <br /><br />

        <button type="submit">@Localizer["AddNewStock"]</button>
        <br /><br />
    </EditForm>
</div>

@if (ShowResultMessage)
{
    <p>
        @AddStockResultMessage
    </p>
}

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public User PortfolioOwner { get; set; } = new();

    private PortfolioStock _stockToAdd = new PortfolioStock();

    private PortfolioStock StockToAdd
    {
        get => _stockToAdd ?? new();
        set => _stockToAdd = value;
    }


    private string AddStockResultMessage { get; set; } = string.Empty;

    private bool _showResultMessage;

    private bool ShowResultMessage
    {
        get => _showResultMessage;
        set
        {
            if (_showResultMessage != value)
            {
                _showResultMessage = value;
                StateHasChanged();
            }
        }
    }

    public async Task AddStock(PortfolioStock stock, int userId)
    {
        await PortfolioService.AddStock(stock, userId);
        StockToAdd = new PortfolioStock();
        // await BlazoredModal.CloseAsync(ModalResult.Ok());
    }

    private async Task DisplayResultMessage()
    {
        // Display result message.
        ShowResultMessage = true;

        // Display it for 2 seconds.
        await Task.Delay(2000);

        // Hide message.
        ShowResultMessage = false;
    }

    public static string GetDisplayValue(Industry value)
    {
        var field = value.GetType().GetField(value.ToString());
        var attribute = (EnumDisplayText)Attribute.GetCustomAttribute(field, typeof(EnumDisplayText));
        return attribute != null ? attribute.Text : value.ToString();
    }

}